<footer class="footer container-fluid text-break">
  <div class="row">
    <div class="col-md-12 col-lg-1"></div>
    <div class="col-md-12 col-lg-7 content-text">
      <b>&copy; 2024 GPETRONIC. Todos los derechos reservados.</b> <br /><i class="fa fa-street-view" aria-hidden="true"></i>
      Ignacio Zaragoza 152, Centro, 63300 Santiago Ixcuintla, Nay.<br />
      <i class="fa fa-phone" aria-hidden="true"></i> Teléfono +52 311 268 7341, Correro: GPTRONICS&#64;gmail.com
      <i class="fa fa-globe" aria-hidden="true"></i> Santiago Ixcuintla Nayarit MX
      Este sitio se visualiza mejor con <i class="fab fa-edge" aria-hidden="true"></i> 7.0 o superior <i class="fab fa-safari" aria-hidden="true"></i>,
      <i class="fab fa-firefox" aria-hidden="true"></i> o <i class="fab fa-chrome" aria-hidden="true"></i><br> Se recomienda una resolución de
      <i class="fas fa-desktop" aria-hidden="true"></i> 1024 x 768 o superior.<br>
    </div>
    <div class="col-md-12 col-lg-4 footer-image">
      <img src="public/assets/img/logo/gptronics.png" width="160" height="90" alt="">
    </div>
  </div>
</footer>

